* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    width: 325px;
    height: 100px;
    background-color: rgb(238, 238, 238);
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    align-items: center;
    justify-content: center;
}

.displaybox {
    height: 40px;
    width: 300px;
    line-height: 40px;
}

#result {
    text-align: right;
}

#keys {
    width: 325px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    font-size: 1.2em;
    line-height: 70px;
    text-align: center;
    column-gap: 1px;
    row-gap: 1px;
}

.key {
    height: 100%;
    width: 100%;
    cursor: default;
}

.number {
    background-color: rgb(219, 219, 219);
}

.operator {
    background-color: rgb(206, 206, 206);
}

#dot {
    font-weight: bold;
}

#equal {
    grid-column: 3 / 5;
}